<style type="text/css">
 .laytable-cell-radio.layui-table-cell{ padding:0 5px 0 15px; }
  .laytable-cell-radio span{ display: none; }
  .laytable-cell-radio .layui-form-radio{ padding-right: 0; margin:0; } 
</style>